<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>


<% @tasks.each do |task| %>
   タイトル<%= task.title %><br>
   内容：<%= task.text %><br>
   作成日:<%= task.created_at %><br>
   期限:<%= task.deadline %><br>
   <%= link_to "詳細", task_path(task.id) %>
   <%= link_to "削除", task_path(task.id), method: :delete %><br><br>
<% end %>

<%= link_to "登録", new_task_path %>
