<h1>Tasks list</h1>
<%= link_to "登録", new_task_path %><br>

<%= form_with url: search_title_path, method: :get, local: true do |f|%>
  <%= f.text_field :title %>
  <%= f.submit :search %>
<% end %>

<%= form_tag(search_status_path, method: :get) do |f|%>
   <%= select_tag(:status, options_for_select([["未着手","0"],["着手","1"],["完了","2"]])) %>
   <%= submit_tag "絞り込み" %>
<% end %><br>


<% @tasks.each do |task| %>
   タイトル<%= task.title %><br>
   内容：<%= task.text %><br>
   作成日:<%= task.created_at %><br>
   期限:<%= task.deadline %><br>
   状態:<%= task.status_i18n %><br>
   進捗:<%= task.priority_i18n %><br>
   <%= link_to "詳細", task_path(task.id) %>
   <%= link_to "削除", task_path(task.id), method: :delete %><br><br>
<% end %>

  

