<h1>Tasks list</h1>
<%= link_to "登録", new_task_path %><br>

<%= search_form_for @q do |f| %>
   <%= f.label :title_cont, "タイトル" %>
   <%= f.search_field :title_cont %>
   <%= f.submit "検索" %>
<% end %><br>

<%= sort_link(@q, :status, "進捗") %><br>

<% @tasks.each do |task| %>
   タイトル<%= task.title %><br>
   内容：<%= task.text %><br>
   作成日:<%= task.created_at %><br>
   期限:<%= task.deadline %><br>
   状態:<%= task.status_i18n %><br>
   <%= link_to "詳細", task_path(task.id) %>
   <%= link_to "削除", task_path(task.id), method: :delete %><br><br>
<% end %>

  

