 <%= form_for (@task) do |f| %>
   <%= render 'layouts/error_messages'%>
 <%= f.label :タイトル %>
      <%= f.text_field :title %><br>

      <%= f.label :テキスト %>
      <%= f.text_field :text %><br>

      <%= f.label :期限 %>
      <%= f.text_field :deadline %><br>

      <p>タスクの進捗</p>
      <%= f.select :status, ["yet","doing","complete"], include_blank: "選択してください" %>

      <%= f.submit "作成する" %>

   <% end %>

