 <%= form_for (@task) do |f| %>
   <%= render 'layouts/error_messages'%>
 <%= f.label :タイトル %>
      <%= f.text_field :title %><br>

      <%= f.label :テキスト %>
      <%= f.text_field :text %><br>

      <%= f.label :期限 %>
      <%= f.text_field :deadline %><br>

       <p>進捗</p>
      <%= f.select :status, Task.statuses.keys.map {|k| [Task.statuses_i18n[k],k]} %>

      <%= f.submit "作成する" %>

   <% end %>

