<%= search_form_for @q, url: tasks_search_path do |f| %>
   <%= f.label :title_cont, "タイトル" %>
   <%= f.search_field :title_cont %>
   <%= f.submit "検索" %>
<% end %><br>

  <% if @searchs.any? %>
  <% @searchs.each do |search| %>
     <p><%= search.title %></p>
  <% end %>
  <% else %>
  <h1>キーワードを含むタスクはありません。</h1>
  <% end %>